.img-card {
  /* width: 100%; */
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}
.bb {
  border: solid 1px #000;
}
.row-w-100 {
  max-width: 100%;
  margin: 0 auto;
}
.cart {
  font-size: 30px;
  color: #363636;
}
.btn-sm {
  padding-right: 25px;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.delete-wish {
  position: absolute;
  top: 10px;
  right: 20px;
  color: red;
}
.btn-circle {
  background-color: white;
  border-radius: 160px;
  padding: 10px !important;
}
.cursor {
  cursor: pointer;
}
.opc {
  color: #606060;
  font-family: "Univers LT Std";
  font-weight: bold;
  font-size: 3rem;
}
.opc:hover {
  color: #ffc009;
}
.opt-active {
  color: #ffc009;
  padding-bottom: 2%;
  border-bottom: #ffc009 solid 6px;
}
.step-init {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background: linear-gradient(to bottom, #c1c1c1 0%, #f2eaea 100%);
  position: relative;
}
.step-int:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 53px;
  background: rgb(224, 201, 201);
  border: 1px solid #ff0000;
  position: absolute;
  left: 1px;
  top: 1px;
}
.step-init:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  transform: rotate(-18deg);
  left: 5px;
  top: 3px;
}
.step-one {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background: linear-gradient(to bottom, #c1c1c1 0%, #f2eaea 100%);
  position: relative;
}
.step-one:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 53px;
  background: #fa6370;
  border: 1px solid #fa6370;
  position: absolute;
  left: 1px;
  top: 1px;
}
.step-one:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  transform: rotate(-18deg);
  left: 5px;
  top: 3px;
}
.step-two {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background: linear-gradient(to bottom, #c1c1c1 0%, #f2eaea 100%);
  position: relative;
}
.step-two:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 53px;
  background: #ffd901;
  border: 1px solid #f7bf06;
  position: absolute;
  left: 1px;
  top: 1px;
}
.step-two:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  transform: rotate(-18deg);
  left: 5px;
  top: 3px;
}
.step-three {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background: linear-gradient(to bottom, #c1c1c1 0%, #f2eaea 100%);
  position: relative;
}
.step-three:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 53px;
  background: #19f000;
  border: 1px solid #c1c1c1;
  position: absolute;
  left: 1px;
  top: 1px;
}
.step-three:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  transform: rotate(-18deg);
  left: 5px;
  top: 3px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.span-order {
  color: red;
  font-weight: bold;
}
.span-date {
  color: #868383;
  font-weight: bold;
}
.span-price {
  color: green;
  font-weight: bold;
}
.p-4 {
  padding: 1.5rem !important;
}
.bb {
  border: solid 1px #000;
}
td.text-right {
  padding-right: 5px !important;
}
